<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/header") %>
  <title>學生資訊</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include ("../partials/nav") %>
  <main style="padding: 3rem">
  <h1 class="fw-bold">錯誤頁面</h1>
  <% if (errorMessage && errorMessage.length > 0) { %>
  <div class="error-card" >
    <h5 class="error"><%= errorMessage %></h5>
  </div>
  <% } %>
  <a  class="link-primary" href="/auth/login">請重新登入</a>
  </main>
</body>
</html>